.star-button {
    border-radius: 5px;
    color: var(--orange-primary);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    white-space: nowrap;

    font-size: 1rem;
}

.star-button:hover {
    cursor: pointer;
    transition: 1s ease;
}

/*Need to create a delay after the button is pressed*/
.star-button.starred, .star-button.unstarred:hover {
    border: 1px solid var(--white);
    background-color: var(--orange-secondary);
}

.star-button.unstarred, .star-button.starred:hover {
    border: 1px solid var(--orange-primary);
    background-color: var(--white);
}

.star-button.header {
    gap: 10%;
    width: 197px;
    height: 56px;
    padding-top: 1%;
    padding-bottom: 1%;
}

.star-button.card {
    width: 3vw;
    height: 3vw;
}

.star-button img{
    width: 2vw;
    height: 2vw;
}