.title-dashboard{
    margin-bottom: 0px;
}
.dashboard-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.dashboard-box {
    display: flex;
    flex-direction: column;
    background-color: var(--background);
    width: 90vw;
    width: 90vw;
    margin-left: 7%;
    margin-right: 2%;
    margin-top: 5%; /* extra space for top nav bar*/
}

.dashboard-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    height: 12vh;

    background-color: var(--white);
    border-bottom: 1px solid var(--black-secondary);
}

.dashboard-header h1 {
    font-size: 1.5rem;
    margin-left: 1%;
}

.header-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 4%;

    margin-right: 1%;
}

.dashboard-spotlight-container {
    padding-top: 4%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
}

.dashboard-spotlight {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2%;

    min-height: 50vh;
    max-height: 50vh;

    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
    border-radius: 16px;

    background-color: rgb(18, 18, 71); /*Change later*/
    color: var(--white);
}

.spotlight-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: var(--bold-weight);
}

.spotlight-info {
    display: flex;
    flex-direction: column;
}

.spotlight-info h1 {
    font-size: 1.6rem;
    font-weight: var(--bold-weight);
    margin-bottom: -0.2%;
}

.spotlight-info h2 {
    font-size: 1rem;
    font-weight: var(--bold-weight);
    color: var(--black-secondary);
    text-transform: uppercase;  
    
    margin-bottom: 1%;
}

.spotlight-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 35%;
}

.fair-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    column-gap: 1vw;
}

.dashboard-cards-body {
    display: flex;
    flex-direction: column;
    margin-right: 2%;
    margin-top: 0px;
   
}

.dashboard-cards-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2%;
    color: var(--black-primary);
    font-weight: var(--title-weight);
}

.arrows{
    display: flex;
    flex-direction: row;
    column-gap: 10%;
    margin-right: 1%;
}

.arrows img {
    width: 2vw;
    padding: 2%;
}

@media only screen and (min-device-width:767px)and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
    .dashboard-box {
        display: flex;
        flex-direction: column;
        background-color: var(--background);
        justify-content: center;
        width: 90vw;
        height: 125vh;
        margin: 0% 5%;
        
    }

    .arrows img {
        width: 5vw;
        padding: 4%;
    }
}

@media only screen and (max-device-width: 767px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
    
    .fair-info{
        flex-direction: column;
    }

    .dashboard-box {
        display: flex;
        flex-direction: column;
        background-color: var(--background);
        justify-content: center;
        width: 90vw;
        height: 145vh;
        margin: 0% 5%;
        
    }
}