.box{
display: flex;
flex-direction: column;
}
.title{
 flex: 1;
 font-weight: var(--subtitle-weight);
 color: var(--black-secondary);
}
.info
{
flex:2;
font-weight: var(--title-weight);
color: var(--black-primary);

}