.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 8vh;
}

.title {
    font-weight: var(--subtitle-weight);
    color: var(--black-secondary);
}

.info {
    font-weight: var(--title-weight);
    color: var(--black-primary);
}