.box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 24px;

    width: 456px;
    height: 212px;

    background: linear-gradient(0deg, rgba(224, 202, 10, 0.79), rgba(224, 202, 10, 0.79));
    background-blend-mode: color, normal;
    border-radius: 16px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
}