.Profile-Container {
  display: flex;
  flex-direction: column;
  background-color: var(--background);
  margin-left: 7%;
  margin-right: 2%;
  margin-top: 5%; /* extra space for top nav bar*/
  background-color: #f5f7fb;
}
.Profile-header-container {
  margin-top: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80vw;
}
.active-header {
  color: black;
}

.inactive-header {
  color: var(--black-secondary);
}

.Settings-header {
  margin: 2.5vh;
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}

.personalInfo-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2%;
  background-color: white;
  border-radius: 16px;
  width: 80vw;
  height: 40vh;
}

.tickethistory-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2%;
  min-height: 50vh;
  max-height: 50vh;
}

.personal-details-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2%;
  max-height: 25vh;
  width: 70vw;
}

.roundCircle {
  display: flex;
  height: 100px;
  width: 100px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
.name-mail-inputs {
  display: flex;
  flex-direction: column;
}

.study-job-details {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.settings-content {
  display: flex;
  flex-direction: column;
  padding: 2%;
  gap: 2.5vh;
}

.lastName-gender {
  display: flex;
  flex-direction: column;
  margin-left: 2.5vw;
}
.input-width {
  display: flex;
  max-width: auto;
}

.study-job-details-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  width: 80vw;
  padding: 2%;
  border-radius: 16px;
}

.select-option {
  width: 100%;
  height: 3rem;
  color: var(--grey-primary);
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 4px;
}

.option-text {
  font-size: 14px;
  color: var(--black-secondary);
  font-style: normal;
}

.input-tag {
  height: 6vh;
  background: #FFFFFF;
  font-size: 1.5vh;
  color: #0F1322;
  font-weight: 600;
  text-indent: 1rem;
  border: 2px solid black;
  justify-content: center;
  border-radius: 4px;
  padding: 0 !important;
  width: 25vw;
}
.input-tag1 {
  width: 40vw;
}

.study-job-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  border-radius: 16px;
}
.study-nYears {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.selectors {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
}

.fontSize {
  font-size: auto;
  font-style: normal;
}

.checkmarks-container {
  display: flex;
  flex-direction: column;
}
.checkmarks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.checkmarks-row-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.profile-content-container {
  display: flex;
  width: 80vw;
  height: 100vh;
}

.GDPR-stuff-container {
  display: flex;
  flex-direction: row;
  background-color: transparent;
  width: 80vw;
  justify-content: space-between;
  padding-bottom: 10vh;
}
.delete-account-button {
  margin-top: 1vh;
  margin-left: 2vh;
  cursor: pointer;
}

.delete-acc-font {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 1.75vh;
  line-height: 140%;
  /* or 22px */
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  /* Red Primary */
  color: var(--red-primary);
}
.edit-changes-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.discard-changes-button {
  margin-left: 2vh;
  background: var(--red-secondary);
  border-radius: 4px;
}

.discard-changes-font {
  /* Register now */
  display: flex;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 1.75vh;
  line-height: 140%;
  /* or 22px */
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  /* Red Primary */
  color: #db2b2b;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
.save-changes {
  background: #2bdba0;
  border-radius: 4px;
}
.save-changes-font{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 1.5vh;
  line-height: 140%;
  /* or 22px */

  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  /* White */
  color: #ffffff;

  /* Inside auto layout */
}

.popup.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: white;
  width: 40vw;
  height: 40vh;
  padding: 2%;
  color: black;
}
.popup-img {
  width: 8vw;
  height: 8vw;
  border-radius: 0px;
}

.popup-img-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  gap: 2.5vh;
}

.popup-subtext {
  display: flex;
  justify-content: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */

  display: flex;
  align-items: center;
  text-align: center;

  /* Black Secondary */
  /* Inside auto layout */

  flex: none;
  align-self: stretch;
  flex-grow: 0;
}
.color-greytext {
  color: #999999;
}
.color-red {
  color: var(--red-primary);
}

.popup-button-cancel-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2.5vh;
  width: 100%;
  background: #2bdba0;
  border-radius: 4px;
  color: #ffffff;
  letter-spacing: 0.02em;
  padding: 2%;
}

.popup-button-deleteacc {
  background: transparent;
  border-radius: 4px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  /* Red Primary */
  color: #db2b2b;
  justify-content: center;
}

@media only screen and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {

}
.study-years-heading{
  padding-right: 5vw;
}

.checkbox{
  appearance: none;
  -webkit-appearance: none;
  background-color: #fff;
  cursor: pointer;
  width: 18px;
  height: 18px;
  border: 1px solid var(--armada-green);
  border-radius: 2px;
  box-sizing: border-box;
}

