.Profile-Container{
  display: flex;
    flex-direction: column;
    background-color: var(--background);
    width: 90vw;
    width: 90vw;
    margin-left: 7%;
    margin-right: 2%;
    margin-top: 5%; /* extra space for top nav bar*/
  background-color: #F5F7FB;
}
.Profile-header-container{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.active-header{
  color: black;
}

.inactive-header{
  color: var(--black-secondary)
}

.Settings-header{
 margin-right: 10vh;
 cursor: pointer;
}

.pointer{
  cursor: pointer;
}

.personalInfo-container{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 2%;
  background-color: white;
  border-radius: 16px;
}

.tickethistory-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2%;
  min-height: 50vh;
  max-height: 50vh;
}

.personal-details-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2%;
  min-height: 25vh;
  max-height: 50vh;
}

.roundCircle{
  display: flex;
  height: 100px;
  width: 100px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
.name-mail-inputs{
  display: flex;
  flex-direction: column;
}

.study-job-details{
  display: flex;
  flex-direction: column;
  padding: 2%;
}
.settings-content{
  display: flex;
  flex-direction: column;
  padding: 2%;
}

.lastName-gender{
  display: flex;
  flex-direction: column;
}
.input-width{
  display: flex;
  max-width: auto;

}
