.company-cards {
    display: flex;
    flex-direction: row;
    gap: 3%;
    margin-left: 2%;
    overflow: hidden;
}

.company-card:hover {
    transform: scale(0.99); /*Gets a bit blurry*/
    transition: 0.5s ease;
    cursor: pointer;
}