.counterbox {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 2%;
  width: 50%;
  background: linear-gradient(0deg, rgb(102 0 174), rgb(40 74 213)),
    url("../../assets/Countdown/countdown_img.svg");
  background-blend-mode: color, normal;
  border-radius: 16px;
  margin: 2%;
}

.ticket-counter-title {
  padding: 1%;
  font-size: 1vw;
  text-align: left;
  color: var(--white);
  font-weight: var(--title-weight);
}
.exposition {
  font-size: 1vw;
  text-align: left;
  color: var(--white);
  font-weight: var(--subsubtitle-weight);
  padding-top: 5%;
  opacity: 70%;
}
.ticket-flex {
  display: flex;
  flex-direction: row;
  padding-left: 9.9vw; /* do not change centering is based on box sixe, the box total is 30vw img and text is 4.5vw each with paddinf of 2%of 30 thus padding 9.9*/
  padding-right: 9.9vw;
  align-self: center;
  width: 100%;
  justify-content: center;
}

.ticket-flex,
.img-here {
  width: 40%;
}

.tickets {
  font-size: 4.5vw;
  font-weight: var(--title-weight);
  color: var(--white);
}

@media only screen and (max-device-width: 767px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .tickets {
    font-size: 15vw;
  }

  .exposition {
    font-size: 3vw;
    padding-top: 1%;
  }

  .ticket-counter-title {
    font-size: 5vw;
  }
  .counterbox {
    width: 90%;
  }
}
