.header-star-button {
    border-radius: 5px;
    color: var(--orange-primary);
    
    padding-top: 1%;
    padding-bottom: 1%;

    width: 15vw;

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 6%;
    white-space: nowrap;
}

.header-star-button.true {
    border: 1px solid var(--white); /**/
    background-color: var(--orange-secondary); /**/
}

.header-star-button.false {
    border: 1px solid var(--orange-primary); /**/
    background-color: var(--white); /**/
}

.header-star-button:hover {
    cursor: pointer;
    transition: 1s ease;
}

.header-star-button.true:hover {
    border: 1px solid var(--orange-primary); /**/
    background-color: var(--white); /**/
}

.header-star-button.false:hover {
    border: 1px solid var(--white); /**/
    background-color: var(--orange-secondary); /**/
}