.card-box{
  display: flex;
  flex-direction: column;
  padding: 2%;
  align-items: flex-start;
  row-gap: 5%;
  position: absolute;
  width: 25%;
  height: 30%;
  left: 10%;
  top: 70%;
  /* White */
  box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.1);
  background-color: var(--white);
  border-radius: 16px;
}
