.step-container{
    display: flex;
    flex-direction: row;
    gap: 20%;
    margin: 0 10%;
    align-self: center;
    justify-content: center;
    width:100%;
}

.current-step, .prev-step, .next-step{
    font-weight: var(--title-weight);
    font-size: 1.25rem;
    min-width: 2rem;
    min-height: 2rem;
    border-radius: 50%;
    line-height: 32px;
}

.current-step{
    background-color: var(--armada-secondary);
    color: var(--armada-green);
}

.prev-step{
    background-color: var(--armada-green);
    color: var(--white);
}

.next-step{
    background-color: var(--grey-secondary);
    color: var(--black-secondary);
}