.full-screen{
    height: 100vh;
    background-color: #F5F7FB;
    display: flex;
}

.side{
    display: flex;
    flex-direction: column;
    border: #CCCCCC 1px solid;
    justify-content: space-around;
    background-color: #FFFFFF;
    width: 19vw;
    overflow: hidden;
    padding: 1rem;
}

.main-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 80vw;
}

.logo{
    padding-top: 0;
    transform: scale(0.7);
}

.button-container{
    padding: 1rem;
}

.buttons button{
    width: 15rem;
    margin-bottom: 0.75rem;
}

.buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.company-name {
    font-family: Inter;
    font-size: 32px;
    font-weight: 800;
    line-height: 39px;
    letter-spacing: 0em;
    padding: 1rem;
}

.ticket {
    display: flex;
    flex-direction: row;
    width: fit-content;
    justify-content: space-between;
    padding: 2rem;
    gap: 2rem;
}

.select-option,
.select-option1 {
    width: 20rem;
    height: 3rem;
    color: var(--grey-primary);
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 4px;
}

.tckt-img {
    width: 2.5vw;
}

.ticket-plus-sign {
    /*Can't get rid of the red background*/
    margin-left: -34.5%;
    margin-bottom: 5%;
}

.left-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media screen and (max-width: 768px) {

    .full-screen{
        display: flex;
        flex-direction: column;
    }
    .main-content {
        width: auto;
    }

    .ticket{
        flex-direction: column;
        align-items: center;
        display: flex;
        width: fit-content;
        justify-content: space-between;
        padding: 1rem;
        gap: 2rem;
    }

    .header{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        height: 4rem;
        background-color: var(--armada-green);
    }

    .mobile-button button{
        width: 12rem;
        margin-bottom: 0.75rem;
    }

        .select-option,
        .select-option1 {
            width: 15rem;
            height: 3rem;
            color: var(--grey-primary);
            padding-left: 1rem;
            padding-right: 1rem;
            border-radius: 4px;
        }

}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
    .full-screen {
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    .main-content {
        width: auto;
    }

    .side{
        display: none;
    }

    .ticket {
        flex-direction: column;
        align-items: center;
        display: flex;
        width: fit-content;
        justify-content: space-between;
        padding: 1rem;
        gap: 2rem;
        }
}
