.armada-icon {
  height: 48px;
  width: 48x;
  padding-bottom: 50px;
}

.sidebarFlex{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  height: 100%;
  background-color: white;
  padding-right: 20px;  
} 
/*
  Help me center this shit 
*/

.sidebar-icons-flex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  height: 100%;
  background-color: white;
  border:1px solid black;
}

.sidebar-LinkButton{
 
}


