.card-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 5%;
  background-color: var(--white);
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  height: 100%;
}

.card-background-image {
  min-height: 50%;
  max-height: 50%;
  border-top-left-radius: 16px; /*Did not inherit from card-box for some reason*/
  border-top-right-radius: 16px;
  background: no-repeat center;
}

.card-body {
  min-height: 50%;
  max-height: 50%;
  display: flex;
  flex-direction: column;
  padding: 6%;
}

.card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5%;
}

.card-header-title {
  display: flex;
  flex-direction: column;
  gap: 0.5%;
}

.card-header div .h1 {
  color: var(--black-primaryy);
  font-weight: var(--title-weight);
  font-size: 1.5rem;
  text-transform: capitalize;
}

.card-header div .h2 {
  color: var(--black-secondary);
  font-weight: var(--bold-weight);
  font-size: 0.875rem;
  text-transform: uppercase;
}

@media only screen and (min-device-width:370px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {

  .card-header div .h1 {
    font-size: 0.8rem;
  }
  .card-header div .h2 {
    font-size: 0.5rem;
  }

}

@media only screen and (max-device-width: 370px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {

  .card-header div .h1 {
    font-size: 0.6rem;
  }
  .card-header div .h2 {
    font-size: 0.5rem;
  }

}