.card-box {
  display: flex;
  flex-direction: column;
  width: 28vw;
  /*margin-bottom: 10%; Remove later*/
  background-color: var(--white);
  box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
}

.card-background-image {
  min-height: 25vh;
  max-height: 25vh;
  border-top-left-radius: 16px; /*Did not inherit from card-box for some reason*/
  border-top-right-radius: 16px;
}

.card-body {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  padding: 6%;
}

.card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10%;

}

.card-header-title {
  display: flex;
  flex-direction: column;
  gap: 0.5vh;
}

.card-header div .h1 {
  color: var(--black-primaryy);
  font-weight: var(--title-weight);
  font-size: 1.5rem;
  text-transform: capitalize;
}

.card-header div .h2 {
  color: var(--black-secondary);
  font-weight: var(--bold-weight);
  font-size: 0.875rem;
  text-transform: uppercase;
}