.card-box {
  display: flex;
  flex-direction: column;
  width: 24vw;
  max-height: 50vh;
  min-height: 50vh;

  box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.1);
  background-color: var(--white);
  border-radius: 16px; /*Should I change to %*/
  margin-bottom: 10%;
}

.card-header-background {
  min-height: 25vh;
  max-height: 25vh;
  border-top-left-radius: 16px; /*Did not inherit from card-box for some reason*/
  border-top-right-radius: 16px;

  /*background-image: url("../../views/CompanyView/background-test.jpg");*/
}

.card-body {
  min-height: 25vh; /*To make the space-between apply*/
  max-height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 6%;
  padding-right: 6%;
  padding-top: 2%;
}

.card-header div h1 { /*Should I have used span maybe?*/
  font-size: 1.2rem;
}

.card-header div h2 {
  color: var(--black-secondary);
  font-weight: var(--bold-weight);
  font-size: 0.8rem;
  text-transform: uppercase;

  margin-top: -4%;
}

.card-tickets {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 6%;
  margin-top: -5%;
  margin-bottom: 6%;
}

.card-star {
  margin-top: 25%;
}