.sidebar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 6vw;
  background-color: var(--white);
  height: 100vh;
  position: fixed;
  top: 0px;
  border-color: var(--grey-primary);
  border-width: 1px;
  border-style: solid;
  z-index: 3;
}

.armada-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 6vw;
  height: 6vw;
  border-radius: 8px;
}

.armada-logo-img {
  width: 3vw;
  height: 3vw;
}

.sidebar-dashboard,
.sidebar-dashboard-inactive,
.sidebar-events {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 4vw;
  height: 4vw;
  background-color: var(--armada-green);
  color: var(--white);
  border-radius: 8px;
}

.sidebar-dashboard-inactive {
  background-color: white;
}

.sidebar-events {
  margin-top: 10%;
}

/*Nina */
.sidebar-button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30%;
  gap: 12%;
}

.logout {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1vh;
  width: 4vh;
  height: 4vh;
  border-radius: 8px;
}
.sidebar-tutorial {
  font-weight: var(--subtitle-weight);
  font-size: 1.5em;
  color: var(--black-tetriary);
}

@media only screen and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {

  .sidebar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    background-color: var(--white);
    height: 9vh;
    position: fixed;
    bottom: 0px;
    top:auto;
    border-color: var(--grey-primary);
    border-width: 1px;
    border-style: solid;
    z-index: 3;
  }
  .sidebar-button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    gap: 7%;
    bottom: 0px;
    width: 75%;
  }

.sidebar-dashboard,
.sidebar-dashboard-inactive,
.sidebar-events {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 4vh;
  height: 4vh;
  background-color: var(--armada-green);
  color: var(--white);
  border-radius: 8px;
  padding: 3%;
  bottom: 0px;
  margin-top: 0px;
}

.sidebar-dashboard svg,
.sidebar-dashboard-inactive svg,
.sidebar-events  svg{
  width: 6vw;
  height: 6vw;
}

.armada-logo-img{
  width: 9vw;
  height: 9vw;
  margin-left: 15%;
}

.armada-logo 
{
  width: unset;
  height: unset;
}

.sidebar-dashboard-inactive {
  background-color: white;
}

}
