.sidebar-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 104px;
  background-color: #ffff;
  height: 100vh;
}


.armada-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 72px;
  height: 72px;
  border-radius: 8px;
}

.armada-logo-img {
  width: 48px;
  height: 48px;
}

.sidebar-active, .sidebar-inactive, .sidebar-events {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 72px;
  height: 72px;
  background-color: var(--armada-green);
  border-radius: 8px;
}

.sidebar-inactive {
  background-color: white;
}

/*Nina */
.sidebar-button-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30%;
  gap: 12px;

}

.logout{
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 72px;
  height: 72px;
  border-radius: 8px;
}

.sidebar-profile-active{
    display: flex;
      flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 72px;
    height: 72px;
    background-color: var(--armada-green);
    border-radius: 8px;
}







