
.inner-box{
    display: flex;
    flex-direction: column;
    background-color: var(--background);
    width: 90vw;
    margin-left: 7%;
    margin-right: 4%;
    margin-top: 7%; /* extra space for top nav bar*/
}

.card-flex {
    display: flex;
    flex-direction: column;
    padding: 0px;
}

.row{
    margin: 0px;
}

.sidebar-position {
    position: fixed;
    top:0px;
}

@media only screen and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
    .inner-box{
        margin-left: 4%;
        margin-right: 4%;
    }

    .inner-box{
        display: flex;
        flex-direction: column;
        background-color: var(--background);
        height: 120vh;
        margin-top: 20%;
    }
}