.company-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 0 0 auto;
  gap: 5vh;

  width: 25%;
  height: auto;
  padding: 3%;

  background: var(--white);
  box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
}

.mini-flex {
  display: flex;
  flex-direction: column;
  gap: 2.5vh;
}

.company-coordinator-box {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.company-coordinator {
  display: flex;
  flex-direction: row;
  gap: 4%;
}

.theme-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
 /*no-border*/
.theme-flex div {
  display: flex;
  flex-direction: row;
  gap: 4%;
}

.theme-flex.no-border {
  gap: 6%;
  white-space: nowrap;
}

.title {
  color: var(--black-secondary);
  font-weight: var(--subtitle-weight);
  font-size: 0.875rem; /*14px*/
}

.theme {
  color: var(--black-primary);
  font-weight: var(--subtitle-weight);
  font-size: 0.875rem; /*14px*/
  margin-right: 2%;
  margin-bottom: 2%;
}

.theme.border {
  border: 1px solid var(--black-primary);
  border-radius: 100px;

  padding-left: 4%;
  padding-right: 4%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.theme.no-border {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.name {
  color: var(--black-primary);
  font-weight: var(--title-weight);
  font-size: 1.25rem; /*20px*/
}

.mail {
  color: var(--black-secondary);
  font-weight: var(--bold-weight);
  font-size: 1rem; /*16px*/
}

@media only screen and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .company-info {
    width: max-content;
    height: auto;
    padding: 3%;
    margin-top: 2rem;
  }

  .theme-flex {
    display: flex;
    flex-direction: column;
  }  

  .theme.border {
    width: fit-content;
  }
}

